body{
  background-image: url(background.jpeg);
}

#filter-buttons{
  display:flex;
  align-content: space-around;
}

.btn{
  margin: 10px;
}

.sorting-hat-card{
  display:flex;
  align-items: center;
  justify-content: center;
}

/*#student-container{
  display:flex;
  padding: 50px;
  
}
.container{
  flex: 1;
  border: 2px grey solid;
}
*/

.container{
  display:flex;
}

.text-header{
  text-align: center;
  background-color: white;
  margin: 10px;
}

.btn-primary{
  background-color: black;
  border: black 3px dotted;
  margin-left: 45%;
  margin-right: auto;
}

#voldy-card{
  background-color: black;
  color: white;
  border: red solid 7px;
  
}

.card-img-top{
  max-width: auto;
  max-height: 200px;
  object-fit: contain;
  
}
