body{
  background-color: white;
}

#filter-buttons{
  display:flex;
  align-content: space-around;
}

.btn{
  margin: 10px;
}

.sorting-hat-card{
  display:flex;
  align-items: center;
  justify-content: center;
}

#app{
  padding: 20px;
}

.container{
  width: 45%;
  float: left;
  padding: 20px;
  border: 2px solid grey;
}
