body{
  background-color: white;
}

#filter-buttons{
  display:flex;
  align-content: space-around;
}

.btn{
  margin: 10px;
}

.sorting-hat-card{
  display:flex;
  align-items: center;
  justify-content: center;
}

#student-container{
  display:flex;
  padding: 50px;
  
}

.container{
  flex: 1;
  border: 2px grey solid;
}


  
